medical-notice-analyzer/dify_workflow_pack_id.yml
app:
  description: Input pack_id, fetch evidence_pack from backend, generate report JSON, run quality check, and revise once if
    needed.
  icon: DOC
  icon_background: '#E0F2FE'
  icon_type: emoji
  mode: workflow
  name: Medical Notice Report Pack ID
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.17@f7a5c1d222d17ee419b17a80d6e4923838fe93788dc724a3af73fbc6990b3a32
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: http-request
      id: start-to-fetch-pack
      source: start_node
      sourceHandle: source
      target: fetch_evidence_pack
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: fetch-pack-to-parse
      source: fetch_evidence_pack
      sourceHandle: source
      target: parse_evidence_pack
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: parse-pack-to-gate
      source: parse_evidence_pack
      sourceHandle: source
      target: pack_fetch_gate
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: pack-ok-to-generate
      source: pack_fetch_gate
      sourceHandle: ok
      target: generate_report
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: pack-error-to-result
      source: pack_fetch_gate
      sourceHandle: 'false'
      target: error_result
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: generate-to-parse-generation
      source: generate_report
      sourceHandle: source
      target: parse_generation_json
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: parse-generation-to-qa
      source: parse_generation_json
      sourceHandle: source
      target: qa_report_first
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: qa-to-parse-quality
      source: qa_report_first
      sourceHandle: source
      target: parse_quality_json
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: parse-quality-to-gate
      source: parse_quality_json
      sourceHandle: source
      target: quality_gate
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: quality-passed-to-final
      source: quality_gate
      sourceHandle: passed
      target: final_initial_result
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: quality-revise-to-revise
      source: quality_gate
      sourceHandle: revise
      target: revise_report
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: quality-minor-to-final
      source: quality_gate
      sourceHandle: 'false'
      target: final_initial_result
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: revise-to-parse-revision
      source: revise_report
      sourceHandle: source
      target: parse_revision_json
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: parse-revision-to-qa2
      source: parse_revision_json
      sourceHandle: source
      target: qa_revised_report
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: qa2-to-parse-quality2
      source: qa_revised_report
      sourceHandle: source
      target: parse_revised_quality_json
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: code
      id: parse-quality2-to-final-revised
      source: parse_revised_quality_json
      sourceHandle: source
      target: final_revised_result
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: final-initial-to-end
      source: final_initial_result
      sourceHandle: source
      target: end_initial
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: final-revised-to-end
      source: final_revised_result
      sourceHandle: source
      target: end_revised
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: error-to-end
      source: error_result
      sourceHandle: source
      target: end_error
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - label: pack_id
          max_length: 128
          options: []
          required: true
          type: text-input
          variable: pack_id
      height: 90
      id: start_node
      position:
        x: 0
        y: 260
      positionAbsolute:
        x: 0
        y: 260
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        selected: false
        title: Fetch Evidence Pack
        type: http-request
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        headers: ''
        method: get
        params: ''
        retry_config:
          enabled: true
          exponential_backoff:
            enabled: true
            max_interval: 10000
            multiplier: 2
          max_retries: 2
          retry_interval: 1000
        ssl_verify: true
        timeout:
          connect: 10
          read: 60
          write: 10
        url: http://192.168.34.88:8099/analysis/packs/{{#start_node.pack_id#}}
        variables: []
      height: 109
      id: fetch_evidence_pack
      position:
        x: 300
        y: 260
      positionAbsolute:
        x: 300
        y: 260
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        selected: false
        title: Parse Evidence Pack
        type: code
        code: "def main(fetch_body: str, pack_id: str) -> dict:\n    import json\n\n    raw = fetch_body or \"\"\n    try:\n\
          \        pack = json.loads(raw or \"{}\")\n    except Exception as exc:\n        return {\n            \"pack_ok\"\
          : \"false\",\n            \"pack_error\": \"evidence_pack response is not valid JSON: \" + str(exc),\n         \
          \   \"evidence_pack_json\": raw,\n            \"primary_count\": \"0\",\n            \"auxiliary_count\": \"0\"\
          ,\n        }\n\n    if not isinstance(pack, dict):\n        return {\n            \"pack_ok\": \"false\",\n    \
          \        \"pack_error\": \"evidence_pack is not a JSON object\",\n            \"evidence_pack_json\": raw,\n   \
          \         \"primary_count\": \"0\",\n            \"auxiliary_count\": \"0\",\n        }\n\n    primary = pack.get(\"\
          primary_materials\") or []\n    auxiliary = pack.get(\"auxiliary_materials\") or []\n    if not primary:\n     \
          \   return {\n            \"pack_ok\": \"false\",\n            \"pack_error\": \"evidence_pack has no primary_materials\"\
          ,\n            \"evidence_pack_json\": json.dumps(pack, ensure_ascii=False),\n            \"primary_count\": \"\
          0\",\n            \"auxiliary_count\": str(len(auxiliary)),\n        }\n\n    if pack_id and pack.get(\"pack_id\"\
          ) and str(pack.get(\"pack_id\")) != str(pack_id):\n        return {\n            \"pack_ok\": \"false\",\n     \
          \       \"pack_error\": \"input pack_id does not match evidence_pack.pack_id\",\n            \"evidence_pack_json\"\
          : json.dumps(pack, ensure_ascii=False),\n            \"primary_count\": str(len(primary)),\n            \"auxiliary_count\"\
          : str(len(auxiliary)),\n        }\n\n    return {\n        \"pack_ok\": \"true\",\n        \"pack_error\": \"\"\
          ,\n        \"evidence_pack_json\": json.dumps(pack, ensure_ascii=False),\n        \"primary_count\": str(len(primary)),\n\
          \        \"auxiliary_count\": str(len(auxiliary)),\n    }\n"
        code_language: python3
        outputs:
          pack_ok:
            children: null
            type: string
          pack_error:
            children: null
            type: string
          evidence_pack_json:
            children: null
            type: string
          primary_count:
            children: null
            type: string
          auxiliary_count:
            children: null
            type: string
        variables:
        - value_selector:
          - fetch_evidence_pack
          - body
          variable: fetch_body
        - value_selector:
          - start_node
          - pack_id
          variable: pack_id
      height: 53
      id: parse_evidence_pack
      position:
        x: 600
        y: 260
      positionAbsolute:
        x: 600
        y: 260
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        selected: false
        title: Evidence Pack OK?
        type: if-else
        cases:
        - case_id: ok
          conditions:
          - comparison_operator: is
            id: pack-ok-condition
            value: 'true'
            varType: string
            variable_selector:
            - parse_evidence_pack
            - pack_ok
          id: ok
          logical_operator: and
      height: 125
      id: pack_fetch_gate
      position:
        x: 900
        y: 260
      positionAbsolute:
        x: 900
        y: 260
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        selected: false
        title: Generate Report JSON
        type: llm
        context:
          enabled: false
          variable_selector: []
        memory:
          enabled: false
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            max_tokens: 8192
            reasoning_effort: high
            response_format: text
            temperature: 0.1
            thinking: true
          mode: chat
          name: deepseek-v4-pro
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - role: system
          text: 'You are a medical procurement policy analysis assistant. Generate a Chinese report using only evidence_pack.
            Do not invent facts. Do not output chain-of-thought, analysis, scratchpad, debug text, <think>, or any explanation
            outside JSON.


            Rules:

            1. primary_materials are the core evidence and define the report topic and main content.

            2. auxiliary_materials may only support historical comparison, background, or related-policy context. They must
            not override primary materials.

            3. attachments may have parse_status=metadata_only. If so, do not pretend attachment full text was read.

            4. warnings must be followed. If content is empty, short, or attachments are not parsed, do not use missing content
            as evidence.

            5. Dates, numbers, organizations, regions, project phase/type, category, reference numbers, and policy facts must
            come from evidence_pack.

            6. report_markdown must contain only the publishable Chinese report, not JSON, QA notes, debugging text, or prompt
            text.


            Return exactly one valid JSON object. Do not wrap it in Markdown fences.'
        - role: user
          text: "Generate a Chinese medical procurement analysis report from this evidence_pack.\n\nevidence_pack:\n{{#parse_evidence_pack.evidence_pack_json#}}\n\
            \nReturn this JSON shape exactly:\n{\n  \"version\": 1,\n  \"report_title\": \"\",\n  \"report_markdown\": \"\"\
            ,\n  \"primary_material_ids\": [],\n  \"auxiliary_material_ids\": [],\n  \"used_key_facts\": [],\n  \"generation_warnings\"\
            : []\n}\n\nReport requirements:\n- Write report_title and report_markdown in Chinese.\n- Use Markdown in report_markdown.\n\
            - Primary materials decide title, lead, main facts, and analysis.\n- Auxiliary materials are only background or\
            \ comparison.\n- For metadata_only attachments, say only that attachment metadata exists and attachment full text\
            \ was not parsed.\n- Do not include the JSON object itself inside report_markdown."
        retry_config:
          enabled: false
          exponential_backoff:
            enabled: false
            max_interval: 10000
            multiplier: 2
          max_retries: 2
          retry_interval: 1000
        structured_output:
          enabled: false
        variables: []
        vision:
          enabled: false
      height: 98
      id: generate_report
      position:
        x: 1200
        y: 180
      positionAbsolute:
        x: 1200
        y: 180
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        selected: false
        title: Parse Generation JSON
        type: code
        code: "def main(generation_text: str) -> dict:\n    import json\n    import re\n\n    def extract_json(text):\n  \
          \      text = (text or \"\").strip()\n        text = re.sub(r\"^```(?:json)?\\s*\", \"\", text)\n        text =\
          \ re.sub(r\"\\s*```$\", \"\", text)\n        if not text.startswith(\"{\"):\n            start = text.find(\"{\"\
          )\n            end = text.rfind(\"}\")\n            if start >= 0 and end > start:\n                text = text[start:end\
          \ + 1]\n        return json.loads(text or \"{}\")\n\n    try:\n        data = extract_json(generation_text)\n  \
          \  except Exception as exc:\n        data = {\n            \"version\": 1,\n            \"report_title\": \"Report\
          \ generation failed\",\n            \"report_markdown\": \"Generation node did not return valid JSON: \" + str(exc),\n\
          \            \"primary_material_ids\": [],\n            \"auxiliary_material_ids\": [],\n            \"used_key_facts\"\
          : [],\n            \"generation_warnings\": [\"generation_json_parse_failed\"],\n        }\n\n    if not isinstance(data,\
          \ dict):\n        data = {}\n    data.setdefault(\"version\", 1)\n    data.setdefault(\"report_title\", \"\")\n\
          \    data.setdefault(\"report_markdown\", \"\")\n    data.setdefault(\"primary_material_ids\", [])\n    data.setdefault(\"\
          auxiliary_material_ids\", [])\n    data.setdefault(\"used_key_facts\", [])\n    data.setdefault(\"generation_warnings\"\
          , [])\n    return {\n        \"generation_json\": json.dumps(data, ensure_ascii=False),\n        \"report_title\"\
          : str(data.get(\"report_title\") or \"\"),\n        \"report_markdown\": str(data.get(\"report_markdown\") or \"\
          \"),\n        \"generation_warnings_json\": json.dumps(data.get(\"generation_warnings\") or [], ensure_ascii=False),\n\
          \        \"version\": str(data.get(\"version\") or 1),\n    }\n"
        code_language: python3
        outputs:
          generation_json:
            children: null
            type: string
          report_title:
            children: null
            type: string
          report_markdown:
            children: null
            type: string
          generation_warnings_json:
            children: null
            type: string
          version:
            children: null
            type: string
        variables:
        - value_selector:
          - generate_report
          - text
          variable: generation_text
      height: 53
      id: parse_generation_json
      position:
        x: 1500
        y: 180
      positionAbsolute:
        x: 1500
        y: 180
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        selected: false
        title: Quality Check Round 1
        type: llm
        context:
          enabled: false
          variable_selector: []
        memory:
          enabled: false
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            max_tokens: 4096
            temperature: 0
            thinking: false
            response_format: text
          mode: chat
          name: deepseek-v4-flash
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - role: user
          text: "You are a quality checker for a Chinese medical procurement report. Check whether the report is faithful\
            \ to evidence_pack. Do not output chain-of-thought. Return exactly one valid JSON object, no Markdown fences.\n\
            \nCheckpoints:\n1. Unsupported facts not found in evidence_pack.\n2. Wrong dates, numbers, prices, organization\
            \ names, region names, titles, or project facts.\n3. Confusion between primary_materials and auxiliary_materials.\n\
            4. Treating metadata_only attachments as if full text was read.\n5. Grammar problems, over-inference, or absolute\
            \ claims.\n6. JSON, debug text, prompt text, or model reasoning leaked into report_markdown.\n\nUse severity only\
            \ from: fatal, high, major, minor. fatal/high/major trigger revision; minor does not.\n\nevidence_pack:\n{{#parse_evidence_pack.evidence_pack_json#}}\n\
            \ngeneration_warnings:\n{{#parse_generation_json.generation_warnings_json#}}\n\nreport_markdown:\n{{#parse_generation_json.report_markdown#}}\n\
            \nReturn JSON:\n{\n  \"passed\": false,\n  \"round\": 1,\n  \"issues\": [\n    {\n      \"issue_id\": \"Q001\"\
            ,\n      \"severity\": \"high\",\n      \"problem_type\": \"unsupported_claim\",\n      \"report_text\": \"\"\
            ,\n      \"source_basis\": \"\",\n      \"fix_instruction\": \"\"\n    }\n  ],\n  \"revision_instruction\": \"\
            \"\n}"
        retry_config:
          enabled: false
          exponential_backoff:
            enabled: false
            max_interval: 10000
            multiplier: 2
          max_retries: 2
          retry_interval: 1000
        structured_output:
          enabled: false
        variables: []
        vision:
          enabled: false
      height: 98
      id: qa_report_first
      position:
        x: 1800
        y: 180
      positionAbsolute:
        x: 1800
        y: 180
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        selected: false
        title: Parse Quality JSON
        type: code
        code: "def main(quality_text: str) -> dict:\n    import json\n    import re\n\n    def extract_json(text):\n     \
          \   text = (text or \"\").strip()\n        text = re.sub(r\"^```(?:json)?\\s*\", \"\", text)\n        text = re.sub(r\"\
          \\s*```$\", \"\", text)\n        if not text.startswith(\"{\"):\n            start = text.find(\"{\")\n        \
          \    end = text.rfind(\"}\")\n            if start >= 0 and end > start:\n                text = text[start:end\
          \ + 1]\n        return json.loads(text or \"{}\")\n\n    try:\n        data = extract_json(quality_text)\n    except\
          \ Exception as exc:\n        data = {\n            \"passed\": False,\n            \"round\": 1,\n            \"\
          issues\": [{\"issue_id\": \"Q_PARSE\", \"severity\": \"fatal\", \"problem_type\": \"quality_json_parse_failed\"\
          , \"report_text\": \"\", \"source_basis\": \"\", \"fix_instruction\": str(exc)}],\n            \"revision_instruction\"\
          : \"Quality node did not return valid JSON. Revise or review manually.\",\n        }\n    issues = data.get(\"issues\"\
          ) if isinstance(data, dict) else []\n    if not isinstance(issues, list):\n        issues = []\n    severe = []\n\
          \    for issue in issues:\n        if not isinstance(issue, dict):\n            continue\n        severity = str(issue.get(\"\
          severity\") or \"\").lower()\n        if severity in {\"fatal\", \"high\", \"major\"}:\n            severe.append(issue)\n\
          \    passed = bool(data.get(\"passed\")) if isinstance(data, dict) else False\n    if passed:\n        route = \"\
          passed\"\n    elif severe:\n        route = \"revise\"\n    else:\n        route = \"minor_only\"\n    if isinstance(data,\
          \ dict):\n        data[\"issues\"] = issues\n    return {\n        \"quality_json\": json.dumps(data if isinstance(data,\
          \ dict) else {}, ensure_ascii=False),\n        \"issues_json\": json.dumps(issues, ensure_ascii=False),\n      \
          \  \"severe_issues_json\": json.dumps(severe, ensure_ascii=False),\n        \"revision_instruction\": str(data.get(\"\
          revision_instruction\") or \"\") if isinstance(data, dict) else \"\",\n        \"route\": route,\n    }\n"
        code_language: python3
        outputs:
          quality_json:
            children: null
            type: string
          issues_json:
            children: null
            type: string
          severe_issues_json:
            children: null
            type: string
          revision_instruction:
            children: null
            type: string
          route:
            children: null
            type: string
        variables:
        - value_selector:
          - qa_report_first
          - text
          variable: quality_text
      height: 53
      id: parse_quality_json
      position:
        x: 2100
        y: 180
      positionAbsolute:
        x: 2100
        y: 180
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        selected: false
        title: Quality Gate
        type: if-else
        cases:
        - case_id: passed
          conditions:
          - comparison_operator: is
            id: quality-passed-condition
            value: passed
            varType: string
            variable_selector:
            - parse_quality_json
            - route
          id: passed
          logical_operator: and
        - case_id: revise
          conditions:
          - comparison_operator: is
            id: quality-revise-condition
            value: revise
            varType: string
            variable_selector:
            - parse_quality_json
            - route
          id: revise
          logical_operator: and
      height: 150
      id: quality_gate
      position:
        x: 2400
        y: 180
      positionAbsolute:
        x: 2400
        y: 180
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        selected: false
        title: Revise Report JSON
        type: llm
        context:
          enabled: false
          variable_selector: []
        memory:
          enabled: false
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            max_tokens: 8192
            reasoning_effort: high
            temperature: 0
            thinking: true
            response_format: text
          mode: chat
          name: deepseek-v4-pro
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - role: user
          text: "You are a report revision assistant. Revise only the issues listed in quality_check.issues. Do not rewrite\
            \ unaffected sections. Do not add facts absent from evidence_pack. Do not output chain-of-thought. Return exactly\
            \ one valid JSON object, no Markdown fences.\n\nevidence_pack:\n{{#parse_evidence_pack.evidence_pack_json#}}\n\
            \nprevious report_title:\n{{#parse_generation_json.report_title#}}\n\nprevious report_markdown:\n{{#parse_generation_json.report_markdown#}}\n\
            \nquality_check.issues:\n{{#parse_quality_json.issues_json#}}\n\nrevision_instruction:\n{{#parse_quality_json.revision_instruction#}}\n\
            \nReturn JSON:\n{\n  \"version\": 2,\n  \"report_title\": \"\",\n  \"report_markdown\": \"\",\n  \"fixed_issue_ids\"\
            : [],\n  \"revision_notes\": \"\"\n}\n\nThe report_title and report_markdown should be Chinese. report_markdown\
            \ must be the full revised report, not a patch or excerpt."
        retry_config:
          enabled: false
          exponential_backoff:
            enabled: false
            max_interval: 10000
            multiplier: 2
          max_retries: 2
          retry_interval: 1000
        structured_output:
          enabled: false
        variables: []
        vision:
          enabled: false
      height: 98
      id: revise_report
      position:
        x: 2700
        y: 300
      positionAbsolute:
        x: 2700
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        selected: false
        title: Parse Revision JSON
        type: code
        code: "def main(revision_text: str, previous_title: str, previous_report: str) -> dict:\n    import json\n    import\
          \ re\n\n    def extract_json(text):\n        text = (text or \"\").strip()\n        text = re.sub(r\"^```(?:json)?\\\
          s*\", \"\", text)\n        text = re.sub(r\"\\s*```$\", \"\", text)\n        if not text.startswith(\"{\"):\n  \
          \          start = text.find(\"{\")\n            end = text.rfind(\"}\")\n            if start >= 0 and end > start:\n\
          \                text = text[start:end + 1]\n        return json.loads(text or \"{}\")\n\n    try:\n        data\
          \ = extract_json(revision_text)\n    except Exception as exc:\n        data = {\n            \"version\": 2,\n \
          \           \"report_title\": previous_title or \"\",\n            \"report_markdown\": previous_report or \"\"\
          ,\n            \"fixed_issue_ids\": [],\n            \"revision_notes\": \"Revision node did not return valid JSON;\
          \ kept previous report: \" + str(exc),\n        }\n    if not isinstance(data, dict):\n        data = {}\n    data.setdefault(\"\
          version\", 2)\n    data.setdefault(\"report_title\", previous_title or \"\")\n    data.setdefault(\"report_markdown\"\
          , previous_report or \"\")\n    data.setdefault(\"fixed_issue_ids\", [])\n    data.setdefault(\"revision_notes\"\
          , \"\")\n    return {\n        \"revision_json\": json.dumps(data, ensure_ascii=False),\n        \"report_title\"\
          : str(data.get(\"report_title\") or \"\"),\n        \"report_markdown\": str(data.get(\"report_markdown\") or \"\
          \"),\n        \"version\": str(data.get(\"version\") or 2),\n        \"fixed_issue_ids_json\": json.dumps(data.get(\"\
          fixed_issue_ids\") or [], ensure_ascii=False),\n    }\n"
        code_language: python3
        outputs:
          revision_json:
            children: null
            type: string
          report_title:
            children: null
            type: string
          report_markdown:
            children: null
            type: string
          version:
            children: null
            type: string
          fixed_issue_ids_json:
            children: null
            type: string
        variables:
        - value_selector:
          - revise_report
          - text
          variable: revision_text
        - value_selector:
          - parse_generation_json
          - report_title
          variable: previous_title
        - value_selector:
          - parse_generation_json
          - report_markdown
          variable: previous_report
      height: 53
      id: parse_revision_json
      position:
        x: 3000
        y: 300
      positionAbsolute:
        x: 3000
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        selected: false
        title: Quality Check Round 2
        type: llm
        context:
          enabled: false
          variable_selector: []
        memory:
          enabled: false
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            max_tokens: 4096
            temperature: 0
            thinking: false
            response_format: text
          mode: chat
          name: deepseek-v4-flash
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - role: user
          text: "You are a quality checker for a Chinese medical procurement report. Check whether the report is faithful\
            \ to evidence_pack. Do not output chain-of-thought. Return exactly one valid JSON object, no Markdown fences.\n\
            \nCheckpoints:\n1. Unsupported facts not found in evidence_pack.\n2. Wrong dates, numbers, prices, organization\
            \ names, region names, titles, or project facts.\n3. Confusion between primary_materials and auxiliary_materials.\n\
            4. Treating metadata_only attachments as if full text was read.\n5. Grammar problems, over-inference, or absolute\
            \ claims.\n6. JSON, debug text, prompt text, or model reasoning leaked into report_markdown.\n\nUse severity only\
            \ from: fatal, high, major, minor. fatal/high/major trigger revision; minor does not.\n\nevidence_pack:\n{{#parse_evidence_pack.evidence_pack_json#}}\n\
            \ngeneration_warnings:\n{{#parse_generation_json.generation_warnings_json#}}\n\nreport_markdown:\n{{#parse_revision_json.report_markdown#}}\n\
            \nReturn JSON:\n{\n  \"passed\": false,\n  \"round\": 2,\n  \"issues\": [\n    {\n      \"issue_id\": \"Q001\"\
            ,\n      \"severity\": \"high\",\n      \"problem_type\": \"unsupported_claim\",\n      \"report_text\": \"\"\
            ,\n      \"source_basis\": \"\",\n      \"fix_instruction\": \"\"\n    }\n  ],\n  \"revision_instruction\": \"\
            \"\n}"
        retry_config:
          enabled: false
          exponential_backoff:
            enabled: false
            max_interval: 10000
            multiplier: 2
          max_retries: 2
          retry_interval: 1000
        structured_output:
          enabled: false
        variables: []
        vision:
          enabled: false
      height: 98
      id: qa_revised_report
      position:
        x: 3300
        y: 300
      positionAbsolute:
        x: 3300
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        selected: false
        title: Parse Revised Quality JSON
        type: code
        code: "def main(quality_text: str) -> dict:\n    import json\n    import re\n\n    def extract_json(text):\n     \
          \   text = (text or \"\").strip()\n        text = re.sub(r\"^```(?:json)?\\s*\", \"\", text)\n        text = re.sub(r\"\
          \\s*```$\", \"\", text)\n        if not text.startswith(\"{\"):\n            start = text.find(\"{\")\n        \
          \    end = text.rfind(\"}\")\n            if start >= 0 and end > start:\n                text = text[start:end\
          \ + 1]\n        return json.loads(text or \"{}\")\n\n    try:\n        data = extract_json(quality_text)\n    except\
          \ Exception as exc:\n        data = {\n            \"passed\": False,\n            \"round\": 2,\n            \"\
          issues\": [{\"issue_id\": \"Q_PARSE\", \"severity\": \"fatal\", \"problem_type\": \"quality_json_parse_failed\"\
          , \"report_text\": \"\", \"source_basis\": \"\", \"fix_instruction\": str(exc)}],\n            \"revision_instruction\"\
          : \"Quality node did not return valid JSON. Revise or review manually.\",\n        }\n    issues = data.get(\"issues\"\
          ) if isinstance(data, dict) else []\n    if not isinstance(issues, list):\n        issues = []\n    severe = []\n\
          \    for issue in issues:\n        if not isinstance(issue, dict):\n            continue\n        severity = str(issue.get(\"\
          severity\") or \"\").lower()\n        if severity in {\"fatal\", \"high\", \"major\"}:\n            severe.append(issue)\n\
          \    passed = bool(data.get(\"passed\")) if isinstance(data, dict) else False\n    if passed:\n        route = \"\
          passed\"\n    elif severe:\n        route = \"revise\"\n    else:\n        route = \"minor_only\"\n    if isinstance(data,\
          \ dict):\n        data[\"issues\"] = issues\n    return {\n        \"quality_json\": json.dumps(data if isinstance(data,\
          \ dict) else {}, ensure_ascii=False),\n        \"issues_json\": json.dumps(issues, ensure_ascii=False),\n      \
          \  \"severe_issues_json\": json.dumps(severe, ensure_ascii=False),\n        \"revision_instruction\": str(data.get(\"\
          revision_instruction\") or \"\") if isinstance(data, dict) else \"\",\n        \"route\": route,\n    }\n"
        code_language: python3
        outputs:
          quality_json:
            children: null
            type: string
          issues_json:
            children: null
            type: string
          severe_issues_json:
            children: null
            type: string
          revision_instruction:
            children: null
            type: string
          route:
            children: null
            type: string
        variables:
        - value_selector:
          - qa_revised_report
          - text
          variable: quality_text
      height: 53
      id: parse_revised_quality_json
      position:
        x: 3600
        y: 300
      positionAbsolute:
        x: 3600
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        selected: false
        title: Final Result
        type: code
        code: "def main(pack_id: str, generation_json: str, quality_json: str) -> dict:\n    import json\n    try:\n     \
          \   generation = json.loads(generation_json or \"{}\")\n    except Exception:\n        generation = {}\n    try:\n\
          \        quality = json.loads(quality_json or \"{}\")\n    except Exception:\n        quality = {\"passed\": False,\
          \ \"issues\": []}\n    issues = quality.get(\"issues\") if isinstance(quality, dict) else []\n    if not isinstance(issues,\
          \ list):\n        issues = []\n    remaining = [] if quality.get(\"passed\") else [i for i in issues if isinstance(i,\
          \ dict) and str(i.get(\"severity\") or \"\").lower() == \"minor\"]\n    result = {\n        \"status\": \"finished\"\
          ,\n        \"pack_id\": pack_id,\n        \"report_title\": generation.get(\"report_title\") or \"\",\n        \"\
          report_markdown\": generation.get(\"report_markdown\") or \"\",\n        \"version\": int(generation.get(\"version\"\
          ) or 1),\n        \"quality_check\": quality,\n        \"generation_warnings\": generation.get(\"generation_warnings\"\
          ) or [],\n        \"remaining_issues\": remaining,\n    }\n    return {\n        \"result\": json.dumps(result,\
          \ ensure_ascii=False),\n        \"status\": result[\"status\"],\n        \"pack_id\": pack_id,\n        \"report_title\"\
          : result[\"report_title\"],\n        \"report_markdown\": result[\"report_markdown\"],\n        \"version\": str(result[\"\
          version\"]),\n        \"quality_check\": json.dumps(quality, ensure_ascii=False),\n        \"generation_warnings\"\
          : json.dumps(result[\"generation_warnings\"], ensure_ascii=False),\n        \"remaining_issues\": json.dumps(remaining,\
          \ ensure_ascii=False),\n    }\n"
        code_language: python3
        outputs:
          result:
            children: null
            type: string
          status:
            children: null
            type: string
          pack_id:
            children: null
            type: string
          report_title:
            children: null
            type: string
          report_markdown:
            children: null
            type: string
          version:
            children: null
            type: string
          quality_check:
            children: null
            type: string
          generation_warnings:
            children: null
            type: string
          remaining_issues:
            children: null
            type: string
        variables:
        - value_selector:
          - start_node
          - pack_id
          variable: pack_id
        - value_selector:
          - parse_generation_json
          - generation_json
          variable: generation_json
        - value_selector:
          - parse_quality_json
          - quality_json
          variable: quality_json
      height: 53
      id: final_initial_result
      position:
        x: 2700
        y: 40
      positionAbsolute:
        x: 2700
        y: 40
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        selected: false
        title: Final Revised Result
        type: code
        code: "def main(pack_id: str, generation_json: str, revision_json: str, revised_quality_json: str) -> dict:\n    import\
          \ json\n    try:\n        generation = json.loads(generation_json or \"{}\")\n    except Exception:\n        generation\
          \ = {}\n    try:\n        revision = json.loads(revision_json or \"{}\")\n    except Exception:\n        revision\
          \ = {}\n    try:\n        quality = json.loads(revised_quality_json or \"{}\")\n    except Exception:\n        quality\
          \ = {\"passed\": False, \"issues\": []}\n    issues = quality.get(\"issues\") if isinstance(quality, dict) else\
          \ []\n    if not isinstance(issues, list):\n        issues = []\n    passed = bool(quality.get(\"passed\"))\n  \
          \  result = {\n        \"status\": \"finished\" if passed else \"needs_manual_review\",\n        \"pack_id\": pack_id,\n\
          \        \"report_title\": revision.get(\"report_title\") or generation.get(\"report_title\") or \"\",\n       \
          \ \"report_markdown\": revision.get(\"report_markdown\") or generation.get(\"report_markdown\") or \"\",\n     \
          \   \"version\": int(revision.get(\"version\") or 2),\n        \"quality_check\": quality,\n        \"generation_warnings\"\
          : generation.get(\"generation_warnings\") or [],\n        \"remaining_issues\": [] if passed else issues,\n    }\n\
          \    return {\n        \"result\": json.dumps(result, ensure_ascii=False),\n        \"status\": result[\"status\"\
          ],\n        \"pack_id\": pack_id,\n        \"report_title\": result[\"report_title\"],\n        \"report_markdown\"\
          : result[\"report_markdown\"],\n        \"version\": str(result[\"version\"]),\n        \"quality_check\": json.dumps(quality,\
          \ ensure_ascii=False),\n        \"generation_warnings\": json.dumps(result[\"generation_warnings\"], ensure_ascii=False),\n\
          \        \"remaining_issues\": json.dumps(result[\"remaining_issues\"], ensure_ascii=False),\n    }\n"
        code_language: python3
        outputs:
          result:
            children: null
            type: string
          status:
            children: null
            type: string
          pack_id:
            children: null
            type: string
          report_title:
            children: null
            type: string
          report_markdown:
            children: null
            type: string
          version:
            children: null
            type: string
          quality_check:
            children: null
            type: string
          generation_warnings:
            children: null
            type: string
          remaining_issues:
            children: null
            type: string
        variables:
        - value_selector:
          - start_node
          - pack_id
          variable: pack_id
        - value_selector:
          - parse_generation_json
          - generation_json
          variable: generation_json
        - value_selector:
          - parse_revision_json
          - revision_json
          variable: revision_json
        - value_selector:
          - parse_revised_quality_json
          - quality_json
          variable: revised_quality_json
      height: 53
      id: final_revised_result
      position:
        x: 3900
        y: 300
      positionAbsolute:
        x: 3900
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        selected: false
        title: Evidence Pack Error Result
        type: code
        code: "def main(pack_id: str, pack_error: str) -> dict:\n    import json\n    result = {\n        \"status\": \"failed\"\
          ,\n        \"pack_id\": pack_id,\n        \"report_title\": \"\",\n        \"report_markdown\": \"\",\n        \"\
          version\": 1,\n        \"quality_check\": {\"passed\": False, \"issues\": []},\n        \"generation_warnings\"\
          : [pack_error or \"failed to fetch evidence_pack\"],\n        \"remaining_issues\": [],\n    }\n    return {\n \
          \       \"result\": json.dumps(result, ensure_ascii=False),\n        \"status\": result[\"status\"],\n        \"\
          pack_id\": pack_id,\n        \"report_title\": \"\",\n        \"report_markdown\": \"\",\n        \"version\": \"\
          1\",\n        \"quality_check\": json.dumps(result[\"quality_check\"], ensure_ascii=False),\n        \"generation_warnings\"\
          : json.dumps(result[\"generation_warnings\"], ensure_ascii=False),\n        \"remaining_issues\": \"[]\",\n    }\n"
        code_language: python3
        outputs:
          result:
            children: null
            type: string
          status:
            children: null
            type: string
          pack_id:
            children: null
            type: string
          report_title:
            children: null
            type: string
          report_markdown:
            children: null
            type: string
          version:
            children: null
            type: string
          quality_check:
            children: null
            type: string
          generation_warnings:
            children: null
            type: string
          remaining_issues:
            children: null
            type: string
        variables:
        - value_selector:
          - start_node
          - pack_id
          variable: pack_id
        - value_selector:
          - parse_evidence_pack
          - pack_error
          variable: pack_error
      height: 53
      id: error_result
      position:
        x: 1200
        y: 440
      positionAbsolute:
        x: 1200
        y: 440
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        selected: false
        title: End Initial
        type: end
        outputs:
        - value_selector:
          - final_initial_result
          - result
          value_type: string
          variable: result
        - value_selector:
          - final_initial_result
          - status
          value_type: string
          variable: status
        - value_selector:
          - final_initial_result
          - pack_id
          value_type: string
          variable: pack_id
        - value_selector:
          - final_initial_result
          - report_title
          value_type: string
          variable: report_title
        - value_selector:
          - final_initial_result
          - report_markdown
          value_type: string
          variable: report_markdown
        - value_selector:
          - final_initial_result
          - version
          value_type: string
          variable: version
        - value_selector:
          - final_initial_result
          - quality_check
          value_type: string
          variable: quality_check
        - value_selector:
          - final_initial_result
          - generation_warnings
          value_type: string
          variable: generation_warnings
        - value_selector:
          - final_initial_result
          - remaining_issues
          value_type: string
          variable: remaining_issues
      height: 190
      id: end_initial
      position:
        x: 3000
        y: 40
      positionAbsolute:
        x: 3000
        y: 40
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        selected: false
        title: End Revised
        type: end
        outputs:
        - value_selector:
          - final_revised_result
          - result
          value_type: string
          variable: result
        - value_selector:
          - final_revised_result
          - status
          value_type: string
          variable: status
        - value_selector:
          - final_revised_result
          - pack_id
          value_type: string
          variable: pack_id
        - value_selector:
          - final_revised_result
          - report_title
          value_type: string
          variable: report_title
        - value_selector:
          - final_revised_result
          - report_markdown
          value_type: string
          variable: report_markdown
        - value_selector:
          - final_revised_result
          - version
          value_type: string
          variable: version
        - value_selector:
          - final_revised_result
          - quality_check
          value_type: string
          variable: quality_check
        - value_selector:
          - final_revised_result
          - generation_warnings
          value_type: string
          variable: generation_warnings
        - value_selector:
          - final_revised_result
          - remaining_issues
          value_type: string
          variable: remaining_issues
      height: 190
      id: end_revised
      position:
        x: 4200
        y: 300
      positionAbsolute:
        x: 4200
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        selected: false
        title: End Error
        type: end
        outputs:
        - value_selector:
          - error_result
          - result
          value_type: string
          variable: result
        - value_selector:
          - error_result
          - status
          value_type: string
          variable: status
        - value_selector:
          - error_result
          - pack_id
          value_type: string
          variable: pack_id
        - value_selector:
          - error_result
          - report_title
          value_type: string
          variable: report_title
        - value_selector:
          - error_result
          - report_markdown
          value_type: string
          variable: report_markdown
        - value_selector:
          - error_result
          - version
          value_type: string
          variable: version
        - value_selector:
          - error_result
          - quality_check
          value_type: string
          variable: quality_check
        - value_selector:
          - error_result
          - generation_warnings
          value_type: string
          variable: generation_warnings
        - value_selector:
          - error_result
          - remaining_issues
          value_type: string
          variable: remaining_issues
      height: 190
      id: end_error
      position:
        x: 1500
        y: 440
      positionAbsolute:
        x: 1500
        y: 440
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: 0
      y: 0
      zoom: 0.7
