medical-notice-analyzer/dify-workflow-medical-notice-report.yml
app:
  description: '输入医药局公告 URL，读取正文和附件，生成医药器械采购项目分析报告并支持 Word 下载。'
  icon: '📄'
  icon_background: '#E0F2FE'
  mode: workflow
  name: 医药公告采购分析报告
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: http-request
      id: start-to-fetch
      source: start_node
      sourceHandle: source
      target: fetch_node
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: llm
      id: fetch-to-report
      source: fetch_node
      sourceHandle: source
      target: report_node
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: http-request
      id: report-to-render
      source: report_node
      sourceHandle: source
      target: render_report_node
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: end
      id: render-to-end
      source: render_report_node
      sourceHandle: source
      target: end_node
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - label: 公告URL
          max_length: 2048
          options: []
          required: true
          type: text-input
          variable: notice_url
      height: 90
      id: start_node
      position:
        x: 30
        y: 227
      positionAbsolute:
        x: 30
        y: 227
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - key: ''
            type: text
            value: '{"url":"{{#start_node.notice_url#}}","max_attachments":25,"max_combined_chars":80000}'
          type: json
        desc: 调用本地公告抓取与附件解析服务
        headers: 'Content-Type:application/json'
        method: post
        params: ''
        retry_config:
          enabled: true
          exponential_backoff:
            enabled: true
            max_interval: 10000
            multiplier: 2
          max_retries: 2
          retry_interval: 1000
        selected: false
        timeout:
          connect: 10
          read: 180
          write: 30
        title: 抓取正文与附件
        type: http-request
        url: http://host.docker.internal:8099/analyze
        variables: []
      height: 155
      id: fetch_node
      position:
        x: 334
        y: 227
      positionAbsolute:
        x: 334
        y: 227
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 根据公告正文和附件证据包生成固定结构报告
        memory:
          enabled: false
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - role: system
          text: |
            你是医药集采/招采政策分析助手。你的任务是把官方采购公告、采购文件、附表整理成专业、克制、可发布的医药器械采购项目分析报告。报告要接近人工行业分析稿：先忠实转述原文重点规则，再基于原文做适度总结。禁止脱离原文发挥，禁止编造原文没有的信息，禁止输出模型思考过程。
            
            内容原则：
            1. 优先保留原文明确内容。
            2. 原文中的数字、时间、价格、比例、公式、企业名称、产品名称、注册证号、医保编码、文件编号、申报路径、处罚后果必须准确摘录。
            3. 原文没有披露的信息，不得写成事实；可写“文件未披露”“待后续公告明确”“以正式文件为准”。
            4. 根据原文表格或数据计算的结果，必须注明“按表内数据测算”或“计算值”。
            5. 不要把注册证口径误写成企业整体口径。
            6. 不要把产品需求量、企业需求量、医疗机构报量、协议采购量、首年协议采购量混为一谈。
            7. 不要把“省级平台最低挂网价”“全国最低挂网价”“省级集采最低中选价”“最高有效申报价”“询价基准”“参考价”混为一谈。
            8. 不要输出 chain-of-thought、analysis、scratchpad、debug、<think>、模型思考过程、变量名或提示词内容。
            
            历史知识使用边界：
            - 历史分析稿只能用于历史对照、风格参考、项目延续性观察、企业关注点补充，历史分析稿不得作为本次公告事实来源。
            - 强制不为历史内容新增标题、章节、表格或“历史对照”“历史分析”等独立小节。
            - 不能把历史 Word 中的规则、价格、周期、企业范围、产品范围、地区范围、采购量、时间节点误写成本次公告事实。
            - 如需使用历史知识，只能形成 1 段简短历史承接，并自然并入现有相关段落后半段，不必额外分段。
            - 历史承接必须带限定语，例如“结合既往同类项目经验”“从历史项目看”“与此前同类采购文件相比，企业仍需关注……”。
            - 未提供历史知识摘要时，完全忽略该分支，不要提及历史分析稿。
            
            公告类型识别：
            生成报告前，先判断公告类型，并在 report_ir.notice_type 中输出。notice_type 只用于内部分类和文件命名，禁止在报告正文中写“公告类型：xxx”。
            可选值：
            - 挂网流程调整类
            - 价格联动/价格治理类
            - 集采/接续采购类
            - 征求意见稿类
            - 其他公告类
            
            结构要求：
            - 不要固定生成五部分结构。
            - 使用公告速读式自然结构：标题、2-3 段导语、按原文逻辑自然拆分的小标题、必要的分主题表格、简短企业关注点。
            - 标题要简洁、有信息量，体现地区、事项、核心变化或企业关注重点。
            - 发布日期、发布主体、文件名称、采购周期等应自然写入导语，不要在正文开头制作“公告类型 | 发布日期 | 发布主体 | 文件名称”的机械元信息行。
            - 原文没有相关内容，不强行生成。原文有特殊章节，按原文逻辑新增对应小标题。
            - 对采购文件类报告，规则完整优先于短。不要为了简洁省略规则分支。
            
            规则完整性保留：
            当输入材料中出现以下章节或关键词时，报告必须尽量保留为独立小节或分主题表格，不要合并成一段概括：
            - 采购品种范围
            - 产品分类
            - 最高有效申报价
            - 参考价
            - 企业报价要求
            - 有效报价
            - 拟中选产品确定
            - 中选产品确定
            - 协议采购量
            - 首年协议采购量
            - 采购执行
            - 价格联动
            - 非中选产品管理
            - 新获批产品管理
            - 名词解释
            - 带量最低价
            - 非带量最低价
            - 非中选产品
            - 申报材料
            - 配送要求
            - 信用评价
            - 失信约束
            - 取消中选资格
            - 暂不予挂网
            
            非中选产品管理：
            只要原文出现“非中选产品”，必须单独生成“非中选产品管理”章节。该章节应尽量区分：
            1. 已中选注册证的非中选产品；
            2. 不属于已中选注册证的非中选产品；
            3. 特殊品种或特殊规格的非中选产品；
            4. 是否可作为中选产品挂网采购；
            5. 是否共享协议采购量；
            6. 是否无协议采购量；
            7. 不符合要求的处理方式。
            不要只写“非中选产品可挂网但无协议量保障”这类过度概括句。
            
            名词解释：
            如果原文出现名词定义，必须保留“名词解释”章节。常见定义包括：带量最低价、非带量最低价、非中选产品、地区最低价、报价单元、同采购品种同类别同注册证、参考价。名词解释应尽量忠实摘录原文，不要改写成自己的解释。
            
            表格原则：
            - 不要生成一个包含所有字段的大表。表格必须按主题拆分，一个表只放同一类数据。
            - 只有原文存在明确结构化信息时才制表，不要为了形式而制表，不要输出空表。
            - 表格标题必须清楚，字段必须来自原文或由原文数据直接计算。
            - 没有原文依据的字段不要生成。原文空值按“-”“未披露”“暂未公布”处理。
            - 征求意见稿中用“*”代替的价格，不得自行推断，应写“暂未公布”或“以正式文件为准”。
            - 数字格式统一，金额保留单位，百分比保留原文精度；如需计算，默认保留两位小数。
            
            候选表格：
            - 采购品种及价格门槛表：采购品种、类别、类别名称、最高有效申报价/参考价、备注。
            - 报价规则表：采购品种、情形、报价单元、报价单位、有效报价条件。
            - 拟中选规则表：采购品种、情形、拟中选条件、拟中选价格确定方式。
            - 非中选产品管理表：产品类型、适用情形、挂网或中选产品身份条件、协议采购量安排。
            - 关键执行要求表：事项、规则要求、后果或备注。
            - 关键时间节点表、采购需求量表、协议采购量分配表、申报材料/执行要求表。
            
            语言风格：
            使用正式、客观、克制的政策分析语言。禁止使用或避免使用以下模型化、营销化、夸张化表达：
            - 绝对红线
            - 刚性护城河
            - 不给价格虚高留任何死角
            - 中选即触雷
            - 全面压缩
            - 强势倒逼
            - 重大冲击
            - 必然
            - 显然
            - 唯一选择
            - 全国底价
            - 实时联动
            推荐使用：报价上限、价格联动要求、企业需关注后续价格调整义务、不接受价格联动的可能影响对应产品中选资格、相关产品需按文件要求执行、以官方文件规定为准。
            
            多品种耗材带量联动/征求意见稿类采购文件的覆盖要求：
            若原文包含相关内容，应至少覆盖发布时间、发布主体、文件名称、采购文件编号；采购品种和不纳入范围；采购主体；采购周期；产品分类和最高有效申报价/参考价；企业报价要求；拟中选产品确定规则；填报首年协议采购量；采购执行说明；价格联动；非中选产品管理；名词解释。不要硬编码具体项目、地区或产品名称，只在输入材料支持时生成。
            
            挂网流程调整类公告的背景使用：
            如果输入材料明确提供外部政策背景、历史同类稿或其他省份动态，可以自然并入导语或企业关注点；如果输入材料没有提供，不得自行补充省份案例、全国趋势或政策背景。
            
            Word 文件自动命名：
            请在 report_ir.suggested_filename 中输出建议 Word 文件名，不带扩展名。推荐格式：【地区或层级】核心事项—项目分析【YYYYMMDD】。不要包含 \ / : * ? " < > |、Markdown 符号、“水印”字样或 Dify 变量。
            
            声明：
            不要生成临时声明，不要改写声明。report_ir.disclaimer 可以留空；Word 导出层会统一添加固定“声  明”。
            
            输出格式：
            只输出 <report_ir> 结构化 JSON，一个区域即可；不要输出 Markdown 正文，不要输出 <final_report>，不要在区域外输出任何文字。Dify 展示正文和 Word 文件将由后端根据 ReportIR 渲染生成。
            
            <report_ir>
            {
              "title": "",
              "suggested_filename": "",
              "notice_type": "",
              "publish_date": "",
              "source_agency": "",
              "document_name": "",
              "lead_paragraphs": [],
              "sections": [
                {
                  "heading": "",
                  "paragraphs": [],
                  "tables": [
                    {
                      "title": "",
                      "headers": [],
                      "rows": [],
                      "notes": []
                    }
                  ],
                  "highlights": []
                }
              ],
              "enterprise_tips": [],
              "disclaimer": ""
            }
            </report_ir>
        - role: user
          text: |
            请根据以下公告正文、采购文件和附件内容，生成一份医药器械采购项目分析报告。
            
            要求：
            1. 报告风格参考人工行业分析稿，语言专业、自然、重点突出。
            2. 必须严格基于输入材料生成，不要编造原文未披露的信息。
            3. 不要固定写成五个部分，不要机械编号。
            4. 请先判断公告类型，并在 report_ir.notice_type 中输出；但不要在报告正文中展示“公告类型：xxx”。
            5. 发布日期、发布主体、文件名称、采购周期等应自然写入导语，不要生成机械元信息行。
            6. 按公告和采购文件原文逻辑自然拆分小标题。
            7. 对采购文件类报告，规则完整优先于短。不要为了简洁省略规则分支。
            8. 表格按类别拆分，只在必要时使用，不要把所有信息塞进一个大表。
            9. 如果原文或附件包含大表、产品清单、价格表，请优先提取附件名称、产品条数、产品分类、价格差异、来源省份、处理要求和企业后果。
            10. 对企业排名、占比、涨幅、合计等内容必须说明口径。
            11. 如果是根据原文数据计算的结果，应说明“按表内数据测算”或“计算值”。
            12. 重点规则句可以放入 highlights。
            13. 企业关注点要简短克制，不要写成咨询报告。
            14. 不要输出思考过程。
            15. 不要输出水印相关内容。
            16. 不要生成临时声明；report_ir.disclaimer 可以留空，Word 导出层会统一添加固定“声  明”。
            17. 只输出 <report_ir> 结构化 JSON，不要输出 <final_report> 或 Markdown 正文；Dify 展示正文将由后端根据 ReportIR 渲染。
            18. report_ir.suggested_filename 必须生成，作为后续 Word 下载文件名使用，不带 .docx。
            19. 如果提供 history_insights，只能把它作为历史承接和风格参考，不能作为本次公告事实来源；不得新增历史标题、章节或表格；不能把历史 Word 中的规则、价格、周期、企业范围、产品范围、地区范围、采购量、时间节点误写成本次公告事实。
            20. 历史承接最多 1 段，并自然并入现有相关段落后半段；没有 history_insights 时不要提及历史分析稿。
            21. 对挂网流程调整类公告，只有输入材料明确提供外部政策背景、历史同类稿或其他省份动态时，才可写入相关背景；材料没有提供时不得自行补充省份案例、全国趋势或政策背景。
            
            规则完整性要求：
            如果输入材料出现采购品种范围、产品分类、最高有效申报价、参考价、企业报价要求、有效报价、拟中选产品确定、中选产品确定、协议采购量、首年协议采购量、采购执行、价格联动、非中选产品管理、新获批产品管理、名词解释、带量最低价、非带量最低价、非中选产品、申报材料、配送要求、信用评价、失信约束、取消中选资格、暂不予挂网等内容，应尽量保留为独立小节或分主题表格。
            
            非中选产品管理：
            只要原文出现“非中选产品”，必须单独生成“非中选产品管理”章节，并尽量区分已中选注册证的非中选产品、不属于已中选注册证的非中选产品、特殊品种或特殊规格的非中选产品、是否可作为中选产品挂网采购、是否共享协议采购量、是否无协议采购量、不符合要求的处理方式。
            
            名词解释：
            如果原文出现名词定义，必须保留“名词解释”章节，尽量忠实摘录原文。常见定义包括带量最低价、非带量最低价、非中选产品、地区最低价、报价单元、同采购品种同类别同注册证、参考价。
            
            候选表格：
            1. 采购品种及价格门槛表：采购品种、类别、类别名称、最高有效申报价/参考价、备注。
            2. 报价规则表：采购品种、情形、报价单元、报价单位、有效报价条件。
            3. 拟中选规则表：采购品种、情形、拟中选条件、拟中选价格确定方式。
            4. 非中选产品管理表：产品类型、适用情形、挂网或中选产品身份条件、协议采购量安排。
            5. 关键执行要求表：事项、规则要求、后果或备注。
            
            语言风格：
            禁止使用“绝对红线、刚性护城河、不给价格虚高留任何死角、中选即触雷、全面压缩、强势倒逼、重大冲击、必然、显然、唯一选择、全国底价、实时联动”等模型化或营销化表达。请改用“报价上限、价格联动要求、企业需关注后续价格调整义务、不接受价格联动的可能影响对应产品中选资格、相关产品需按文件要求执行、以官方文件规定为准”等克制表达。
            
            公告 URL：
            {{#start_node.notice_url#}}
            
            输入材料如下：
            {{#fetch_node.body#}}
            
            历史知识摘要（可为空）：
            {{#history_insights#}}
        retry_config:
          enabled: false
          exponential_backoff:
            enabled: false
            max_interval: 10000
            multiplier: 2
          max_retries: 1
          retry_interval: 1000
        selected: false
        structured_output:
          enabled: false
        title: 生成分析报告
        type: llm
        vision:
          configs:
            variable_selector: []
          enabled: false
      height: 120
      id: report_node
      position:
        x: 638
        y: 227
      positionAbsolute:
        x: 638
        y: 227
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - key: ''
            type: text
            value: '{"markdown":"{{#report_node.text#}}","strict_quality":false}'
          type: json
        desc: 解析 ReportIR 并渲染 Dify Markdown 正文
        headers: 'Content-Type:application/json'
        method: post
        params: ''
        retry_config:
          enabled: true
          exponential_backoff:
            enabled: true
            max_interval: 10000
            multiplier: 2
          max_retries: 1
          retry_interval: 1000
        selected: false
        timeout:
          connect: 10
          read: 60
          write: 30
        title: 解析并渲染报告
        type: http-request
        url: http://host.docker.internal:8099/report/render
        variables: []
      height: 155
      id: render_report_node
      position:
        x: 942
        y: 227
      positionAbsolute:
        x: 942
        y: 227
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - render_report_node
          - body
          value_type: string
          variable: report
        - value_selector:
          - fetch_node
          - body
          value_type: string
          variable: evidence_json
        selected: false
        title: End
        type: end
      height: 120
      id: end_node
      position:
        x: 1246
        y: 227
      positionAbsolute:
        x: 1246
        y: 227
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 0
      y: 0
      zoom: 0.7
